@import url(~onsenui/css/onsenui.css);
@import url(~onsenui/css/onsen-css-components.css);
@import url(~bootstrap/dist/css/bootstrap.min.css);
.App .ons-splitter-side {
  background-color: #ffffff; }

.App .page__background {
  background-color: #ffffff; }

.App .page main h2.title {
  margin: 15px; }
