@import '~onsenui/css/onsenui.css';
@import '~onsenui/css/onsen-css-components.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

$background-color: #ffffff;

.App {
  .ons-splitter-side {
    background-color: $background-color;
  }

  .page__background {
    background-color: $background-color;
  }

  .page {
    main {
      h2.title {
        margin: 15px;
      }
    }
  }
}